@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #E5E5E5 !important;
  overflow-x: hidden; }

.cont1 {
  height: 500px !important;
  background-color: white; }
  .cont1 .col-6 {
    margin-top: 100px;
    margin-left: 50px; }
  .cont1 .bnt {
    background-color: #F26522;
    color: white;
    border-radius: 50px; }
  .cont1 .nav1 {
    border: 1px solid silver;
    border-radius: 80px;
    margin-left: 30px; }
  .cont1 .img1 {
    position: absolute;
    margin-left: 584px !important; }
  .cont1 .nav-item {
    margin-left: 20px; }
    .cont1 .nav-item a:hover {
      border-bottom: 1px solid #F26522; }
  .cont1 .carousel-inner img {
    width: 100%;
    height: 100%; }
  .cont1 .carousel-indicators {
    top: 50px;
    display: flex;
    flex-direction: column; }
  .cont1 .carousel-indicators li {
    background-color: black;
    margin-left: 250px; }

.cont2 {
  background-color: white !important; }
  .cont2 .cont2rectangle {
    position: absolute;
    top: 650px !important;
    margin-left: 528px; }
  .cont2 .img3 {
    width: 550px;
    height: 450px;
    margin-top: -100px;
    margin-left: 200px; }
  .cont2 .cl {
    width: 20px !important;
    height: 30px !important;
    margin-top: 6px; }

.sec1 {
  width: 1140px;
  height: 750px;
  margin: 0 auto;
  background-image: url("img/NUB back.png"); }
  .sec1 .nma {
    margin-top: 55px !important; }
  .sec1 .col3 {
    width: 300px;
    height: 215px !important;
    border-radius: 5px;
    margin-top: 100px !important;
    margin-left: 30px; }
    .sec1 .col3 .uuuuuuuuuupapo {
      position: absolute;
      top: -30px;
      right: 90px; }
    .sec1 .col3 .ubu {
      margin-top: 70px !important; }
  .sec1 .col33 {
    width: 300px;
    height: 215px !important;
    border-radius: 5px;
    margin-top: 100px !important;
    margin-left: 120px; }
  .sec1 .uuuuuuuuuupapo {
    position: absolute;
    top: -30px;
    right: 90px; }
  .sec1 .ubu {
    margin-top: 70px !important; }
  .sec1 .s {
    margin-left: 280px !important; }

.cont3 {
  background-color: white; }
  .cont3 .cont3rectangle {
    position: absolute;
    margin-left: 746px; }
  .cont3 .f {
    margin-top: 60px !important; }
  .cont3 .cont3rectangle2 {
    position: absolute;
    top: 2900px;
    margin-left: -63px; }
  .cont3 .C111 {
    background-image: url("img1/╨Р╨╜╨╜╨╛╤В╨░╤Ж╨╕╤П 2023-05-29 164011.png"); }
    .cont3 .C111 img {
      width: 100%;
      height: 100%;
      margin-top: 20px; }
  .cont3 .col8 {
    position: absolute;
    margin-left: 230px;
    margin-top: 245px; }
  .cont3 .ses {
    height: 465px !important;
    margin-top: 350px; }
  .cont3 .col123 {
    width: 150px;
    height: 30px; }
  .cont3 .imge {
    margin-left: 180px !important; }

.cont4 {
  height: 400px; }
  .cont4 .col77 {
    position: absolute !important;
    margin-left: -20px;
    margin-top: 50px; }
  .cont4 .aaa {
    margin-top: 125px; }

.cont5 {
  padding: 1px; }
  .cont5 .oo {
    margin-top: 100px !important; }
  .cont5 .ml5 {
    margin-left: 95px; }
  .cont5 .cont5rectangle {
    position: absolute;
    margin-left: -20px;
    margin-top: 110px; }
  .cont5 .mauto {
    margin-top: 270px !important; }
  .cont5 .pastga {
    margin-top: 110px; }
  .cont5 .cont5rectangle3 {
    position: absolute;
    margin-left: 830px; }
  .cont5 .pading {
    margin-top: 150px; }
  .cont5 .div1 {
    width: 300px !important;
    height: 300px !important;
    background: #fffef7 !important;
    transition: 1s; }
  .cont5 .img1 {
    width: 170px !important;
    height: 170px !important;
    border-radius: 50% !important;
    margin-left: 60px;
    margin-top: -80px !important;
    object-fit: cover; }
  .cont5 .h2 {
    text-align: center !important;
    margin-top: 60px !important; }
  .cont5 .div1:hover {
    box-shadow: 1px -1px 25px 13px #e9e7e7; }
  .cont5 .sardor {
    width: 1140px !important;
    margin-top: 100px;
    padding: 65px !important;
    margin-left: 40px; }
    .cont5 .sardor h4 {
      color: #F26522;
      text-align: center;
      margin-top: 15px;
      font-size: 15px; }
  .cont5 .carousel-indicators > li {
    width: 15px !important;
    height: 15px !important;
    background-color: #000000 !important;
    border-radius: 50% !important; }

footer {
  width: 1140px;
  height: 470px;
  margin: 0 auto;
  background-color: #131A22; }
  footer .col21 {
    margin-top: 50px !important; }
  footer .elip2 {
    margin-left: 120px;
    margin-top: 50px; }
  footer .nav2 {
    width: 100px;
    height: 25px;
    border: 1px solid silver;
    margin-top: 15px;
    border-radius: 50px;
    margin-left: 80px !important; }
  footer .mle {
    margin-top: 5px;
    margin-left: 70px; }

/*# sourceMappingURL=stylescss.css.map */
